@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmación de recuperación de contraseña</PageTitle>

<h1>Confirmación de recuperación de contraseña</h1>
<p role="alert">
    Revise su correo electrónico para restablecer su contraseña.
</p>
